.app {
  background-color: hsl(0, 0%, 95%);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-bottom: 20px;
}

.weatherForm {
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cityInput {
  padding: 10px;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 10px;
  border: 2px solid hsla(0, 0%, 20%, 0.3);
  margin: 10px;
  width: 300px;
}

/* Sellect all buttons that have an "attribute" where the "type = submit"  */
button[type="submit"] {
  padding: 10px 20px;
  font-weight: bold;
  font-size: 2rem;
  color: white;
  border: none;
  cursor: pointer;
  background-color: hsl(122, 39%, 50%);
  border-radius: 5px;
  transition: all 0.2s;
}

button[type="submit"]:hover {
  background-color: hsl(122, 39%, 40%);
}

.card {
  background: linear-gradient(180deg, hsl(210, 100%, 75%), hsl(40, 100%, 75%));
  padding: 50px;
  box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.575);
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

h1 {
  margin-top: 0;
  margin-bottom: 25px;
}

p {
  font-size: 1.5rem;
  margin: 5px 0;
}

.cityDisplay,
.tempDisplay {
  font-size: 3.5rem;
  font-weight: bold;
  color: hsla(0, 0%, 0%, 0.80);
  margin-bottom: 25px;
}

.humidityDisplay {
  font-weight: bold;
  margin-bottom: 25px;
}

.descDisplay {
  font-style: italic;
  font-weight: bold;
  font-size: 2rem;
}

.weatherEmoji {
  margin: 0;
  font-size: 7.5rem;
}

.errorDisplay {
  font-size: 2.5rem;
  font-weight: bold;
  color: hsl(0, 100%, 51%);
  animation-name: blink;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}



/* ================= Responsiveness ================= */

@media (max-width: 680px) {
  .weatherForm {
    margin: 20px;
    padding: 20px;
    flex-direction: column;
    gap: 15px;
  }
}

@media (max-width: 400px) {
  .weatherForm {
    margin: 15px;
    margin-top: 10px;
    padding: 10px;
    gap: 10px;
  }
  
  .cityInput {
    padding: 8px;
    font-size: 1.5rem;
    border-radius: 8px;
    margin: 8px;
    width: 280px;
  }
  
  button[type="submit"] {
    padding: 8px 16px;
    font-size: 1.7rem;
    border-radius: 5px;
  }
  
  .card {
    margin-top: 20px;
    padding: 40px;
    min-width: 280px;
    border-radius: 8px;
  }
  
  h1 {
    margin-top: 0;
  }
  
  p {
    font-size: 1.3rem;
    margin: 5px 0;
  }
  
  .cityDisplay,
  .tempDisplay {
    font-size: 2.8rem;
    margin-bottom: 10px;
  }
  
  .humidityDisplay {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .descDisplay {
    font-size: 1.6rem;
  }
  
  .weatherEmoji {
    font-size: 6.5rem;
    line-height: 6rem;
  }
  
  .errorDisplay {
    font-size: 2rem;
  }
}